<!DOCTYPE html>
<hr>
<div class="display-inline-flex">
    <span>
        <h4 style="display: inline-block">No. of Open Issues: </h4>
    </span>
    <span class="margin-left-10-px margin-top-6-px">
        <div class="spinner" *ngIf="isLoading">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </span>
    <span *ngIf="count">
        <h4 class="color-red margin-left-10-px">{{count}}</h4>
    </span>
</div>
<!-- data binding or data interpolation -->
<br>
<hr>
<!-- <div class="spinner" *ngIf="isLoading"></div> -->
<div class="sk-circle" *ngIf="isLoading">
    <div class="sk-circle1 sk-child"></div>
    <div class="sk-circle2 sk-child"></div>
    <div class="sk-circle3 sk-child"></div>
    <div class="sk-circle4 sk-child"></div>
    <div class="sk-circle5 sk-child"></div>
    <div class="sk-circle6 sk-child"></div>
    <div class="sk-circle7 sk-child"></div>
    <div class="sk-circle8 sk-child"></div>
    <div class="sk-circle9 sk-child"></div>
    <div class="sk-circle10 sk-child"></div>
    <div class="sk-circle11 sk-child"></div>
    <div class="sk-circle12 sk-child"></div>
</div>
<!-- using ngb-tabset i.e. Angular and bootstrap for the UI -->
<ngb-tabset *ngIf="!isLoading">
    <ngb-tab>
        <ng-template ngbTabTitle>Within 24 Hrs ({{dayCount}})</ng-template>
        <!-- Block for issues opened within 24hrs from now -->
        <ng-template ngbTabContent>
            <table class="table table-hover col-lg-10">
                <thead>
                    <th>Id</th>
                    <th>URL</th>
                    <th>Last Opening Date</th>
                </thead>
                <tr *ngFor="let x of issueWithinDayContainingArray; let i  = index">
                    <!-- for loop on an array that is defined in ts file -->
                    <td>{{i + 1}}</td> <!-- i is initialized from 0 so adding 1 -->
                    <td>{{x.htmlUrl}}</td> <!-- getting value in object x with key htmlUrl -->
                    <td>{{x.updateDate}}</td> <!-- getting vlaue in object x with key updateDate -->
                </tr>
            </table>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>24 Hrs to Week ({{weekCount}})</ng-template>
        <!-- Block for issues opened between 24hrs and 7 days from now -->
        <ng-template ngbTabContent>
            <table class="table table-hover col-lg-10">
                <thead>
                    <th>Id</th>
                    <th>URL</th>
                    <th>Last Opening Date</th>
                </thead>
                <tr *ngFor="let x of issueWithinWeekContainingArray; let i  = index">
                    <!-- iterating over issueWithinWeekContainingArray -->
                    <td>{{i + 1}}</td> <!-- i is initialized from 0 so adding 1 -->
                    <td>{{x.htmlUrl}}</td> <!-- getting value in object x with key htmlUrl -->
                    <td>{{x.updateDate}}</td> <!-- getting value in object x with key updateDate -->
                </tr>
            </table>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>More than a week ({{moreCount}})</ng-template>
        <!-- Block for issues opened more than a week ago -->
        <ng-template ngbTabContent>
            <table class="table table-hover col-lg-10">
                <thead>
                    <th>Id</th>
                    <th>URL</th>
                    <th>Last Opening Date</th>
                </thead>
                <tr *ngFor="let x of issueMoreThanWeekContainingArray; let i  = index">
                    <!-- iterating over issueMoreThanWeekContainingArray -->
                    <td>{{i + 1}}</td> <!-- i is initialized from 0 so adding 1 -->
                    <td>{{x.htmlUrl}}</td> <!-- getting value in object x with key htmlUrl -->
                    <td>{{x.updateDate}}</td> <!-- getting value in object x with key updateDate -->
                </tr>
            </table>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
